In [11]:
#### Import libraries 


import numpy as np # linear algebra

import pandas as pd # data processing

import matplotlib.pyplot as plt

import bar_chart_race as bcr

import seaborn as sns 

import os

In [16]:
print("Test Print for Check Libraries 'All Ok'")

Test Print for Check Libraries 'All Ok'

In [12]:
#### Load data

os.chdir("E:\Data Sets")

data_1 = pd.read_csv("south_asian_data.csv")

data_1.head() # to print first rows

,date,Afghanistan,Bangladesh,Bhutan,India,Pakistan,Maldives,Nepal,Sri Lanka
0,01-22-20,0,0,0,0,0,0,0,0
1,01-23-20,0,0,0,0,0,0,0,0
2,01-24-20,0,0,0,0,0,0,0,0
3,01-25-20,0,0,0,0,0,0,0,0
4,01-26-20,0,0,0,0,0,0,1,0

In [13]:
#### Select the countries for bar plot

cols =['date','Afghanistan','Bangladesh','Bhutan','India','Maldives','Nepal','Pakistan','Sri Lanka']

data_deaths = data_1[cols]

data_deaths.set_index("date", inplace = True)  ## Set date col as index 

dada_Ada=data_deaths.cumsum(axis = 0) ## take cumulative sum by dates

In [14]:
#### Plot Race bar plot with out put mp4 file
bcr.bar_chart_race(df=dada_Ada, filename='covid19_horiz.mp4', figsize = (5,3),title='"South Asian countries" Covid-19 Cases- "Owes"')